<%- include("./partials/baseHeadPartial.ejs") %>
<body>
    <h1 id="header-title">Welcome to GitPub! Here's the drinks...</h1>
    
    <% for( let i = 0; i < drinks.length; i++ ) { %>
        <a href="/drinks/<%- i %>">
            <h3 class="drink-disp menu-item">Drink name: <%- drinks[i].name[0].toUpperCase() + drinks[i].name.slice(1); %></h3>

        </a>
    <% } %>
</body>
</html>