<%- include("./partials/baseHeadPartial.ejs") %>
<body>
    <%- include("./partials/baseNavPartial.ejs") %>

    <h1 id="header-title">Welcome to GitPub! Here's the menu...</h1>
    
    <% for( let i = 0; i < food.length; i++ ) { %>
        <a href="/food/<%- i %>">
            <h3 class="food-disp  menu-item">Food name: <%- food[i].name[0].toUpperCase() + food[i].name.slice(1); %></h3>

        </a>
    <% } %>
</body>
</html>